<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if state == 'true' %}
    <META HTTP-EQUIV="refresh" CONTENT="3">
    {% endif %}
    <title>Secret Box</title>
</head>
<body>
    <h1>Secret Box </h1>
    <h5>{{ info }}</h5>
    {% if state == 'true' %}
    <p><a href="/pause">정지</a></p>
    {% else %}
    <p><a href="/start">시작</a></p>
    {% endif %}
    {% if state == 'pause' %}
    <p><a href="/">처음으로</a></p>
    {% endif %}

    {% if image_files %}
    {% for img in image_files %}
    <p>{{ image_files[img] }} </p>
    <p><img src="{{ url_for('static',filename=image_files[img]) }}"> </p>
    {% endfor %}
    {% endif %}
</body>
</html>